extends footer.pug

block social
			.columns
				.column.is-centered.is-8
					ul.social
						li.social-icon
							a(href="#FACEBOOK_LINK" alt="Follow us on Facebook")
							i.ion-social-facebook.has-text-centered.is-size-3
						li.social-icon
							a(href="#FACEBOOK_LINK" alt="Follow us on Facebook")
							i.ion-social-github.has-text-centered.is-size-3
						li.social-icon
							a(href="#FACEBOOK_LINK" alt="Follow us on Facebook")
							i.ion-social-instagram.has-text-centered.is-size-3
						li.social-icon
							a(href="#FACEBOOK_LINK" alt="Follow us on Facebook")
							i.ion-social-linkedin.has-text-centered.is-size-3
						li.social-icon
							a(href="#FACEBOOK_LINK" alt="Follow us on Facebook")
							i.ion-social-reddit.has-text-centered.is-size-3
						li.social-icon
							a(href="#FACEBOOK_LINK" alt="Follow us on Facebook")
							i.ion-social-tumblr.has-text-centered.is-size-3
						li.social-icon
							a(href="#FACEBOOK_LINK" alt="Follow us on Facebook")
							i.ion-social-twitter.has-text-centered.is-size-3
						li.social-icon
							a(href="#FACEBOOK_LINK" alt="Follow us on Facebook")
							i.ion-social-youtube.has-text-centered.is-size-3