//- footer-main.pug

block footer
	footer
		section.section.is-small
			.container
				.columns
					.column.is-half.is-offset-one-quarter
						p.txt-g1 Copyright 2018 Rebel Chef LLC
						a(href="#top") i.ion-android-arrow-up