//- footer.pug

block footer
footer
	.container
		.columns
			.column.is-half.is-offset-one-quarter
				p.has-text-centered Copyright 2018 Rebel Chef LLC
				p.has-text-centered.is-uppercase <a class="btn btn-red" href="#top">Back To Top</a>