//- level-social.pug

block level-social
	.container
		nav.level
			// Left Side
			.level-left
				.level-item
					.field.has-addons
						p.control
							input(class="input" type="email" placeholder="you@email.com")
						p.control
							button.btn.btn-red SUBSCRIBE
			// Right Side