//- menu-entrees.pug

block entrees
	#tab-2.tab-content
		.columns
			.column.is-half
				.columns
					.column.is-one-fifth
						i.ion-android-restaurant.is-size-3.is-pulled-right
					.column
						p.title.has-text-weight-bold.is-size-4 Seared Copper River Salmon
						p.subtitle.has-text-weight-normal.is-size-6 Shaved papaya salad, toasted pepitas, crispy shallot/kale topping, lemongrass butter sauce.
			.column.is-half
				.columns
					.column.is-one-fifth
						i.ion-android-restaurant.is-size-3.is-pulled-right
					.column
						p.title.has-text-weight-bold.is-size-4 Local Ribeye
						p.subtitle.has-text-weight-normal.is-size-6 Fresh daily vegetable
		.columns
			.column.is-half
					.columns
						.column.is-one-fifth
							i.ion-android-restaurant.is-size-3.is-pulled-right
						.column
							p.title.has-text-weight-bold.is-size-4 Moroccan Ribs
							p.subtitle.has-text-weight-normal.is-size-6 Moroccan BBQ, roasted baby potato.
			.column.is-half
					.columns
						.column.is-one-fifth
							i.ion-android-restaurant.is-size-3.is-pulled-right
						.column
							p.title.has-text-weight-bold.is-size-4 Prosciutto Chicken
							p.subtitle.has-text-weight-normal.is-size-6 Prosciutto, asparagus, fresh mozzarella
		.columns
			.column.is-half
					.columns
						.column.is-one-fifth
							i.ion-android-restaurant.is-size-3.is-pulled-right
						.column
							p.title.has-text-weight-bold.is-size-4 Grilled Elk, Shrimp &amp; Pork Sausage
							p.subtitle.has-text-weight-normal.is-size-6 Black eyed peas, fried green tomatoes, Creole sauce, baked collard greens.
			.column.is-half
					.columns
						.column.is-one-fifth
							i.ion-android-restaurant.is-size-3.is-pulled-right
						.column
							p.title.has-text-weight-bold.is-size-4 Braised Short Ribs
							p.subtitle.has-text-weight-normal.is-size-6 Beef short rib, Caramelized potatoes, glazed carrots, shiitake mushroom reduction.