//- menu-small-plates.pug
	div#small-plates
		.columns
			.column.is-half
				.columns
					.column.is-one-fifth
						i.ion-fork
					.column
						p.title.has-text-weight-bold.is-size-4 Small Plate 1
						p.subtitle.has-text-weight-normal.is-size-6 A signature small plate offered by Rebel Chef.
			.column.is-half
				.columns
					.column.is-one-fifth
						i.ion-fork
					.column
						p.title.has-text-weight-bold.is-size-4 Small Plate 2
						p.subtitle.has-text-weight-normal.is-size-6 A signature small plate offered by Rebel Chef.
			.column.is-half
				.columns
					.column.is-one-fifth
						i.ion-fork
					.column
						p.title.has-text-weight-bold.is-size-4 Small Plate 3
						p.subtitle.has-text-weight-normal.is-size-6 A signature small plate offered by Rebel Chef.
			.column.is-half
				.columns
					.column.is-one-fifth
						i.ion-fork
					.column
						p.title.has-text-weight-bold.is-size-4 Small Plate 4
						p.subtitle.has-text-weight-normal.is-size-6 A signature small plate offered by Rebel Chef.