//- menu-appetizers.pug
	div#appetizers
		.columns
			.column.is-half
				.columns
					.column.is-one-fifth
						i.ion-flag
					.column
						p.title.has-text-weight-bold.is-size-4 Appetizer Number 1
						p.subtitle.has-text-weight-normal.is-size-6 The first appetizer, I don't know maybe some wings?
			.column.is-half
				.columns
					.column.is-one-fifth
						i.ion-flag
					.column
						p.title.has-text-weight-bold.is-size-4 Appetizer Number 1
						p.subtitle.has-text-weight-normal.is-size-6 The first appetizer, I don't know maybe some wings?
			.column.is-half
				.columns
					.column.is-one-fifth
						i.ion-flag
					.column
						p.title.has-text-weight-bold.is-size-4 Appetizer Number 1
						p.subtitle.has-text-weight-normal.is-size-6 The first appetizer, I don't know maybe some wings?
			.column.is-half
				.columns
					.column.is-one-fifth
						i.ion-flag
					.column
						p.title.has-text-weight-bold.is-size-4 Appetizer Number 1
						p.subtitle.has-text-weight-normal.is-size-6 The first appetizer, I don't know maybe some wings?