//- menu-entrees.pug
	div#entrees
		.columns
			.column.is-half
				.columns
					.column.is-one-fifth
						i.ion-android-restaurant
					.column
						p.title.has-text-weight-bold.is-size-4 Entree Number One
						p.subtitle.has-text-weight-normal.is-size-6 Description of entree number one.
			.column.is-half
				.columns
					.column.is-one-fifth
						i.ion-android-restaurant
					.column
						p.title.has-text-weight-bold.is-size-4 Entree Number Two
						p.subtitle.has-text-weight-normal.is-size-6 Description of entree number two.
			.column.is-half
				.columns
					.column.is-one-fifth
						i.ion-android-restaurant
					.column
						p.title.has-text-weight-bold.is-size-4 Entree Number Three
						p.subtitle.has-text-weight-normal.is-size-6 Description of entree number three.
			.column.is-half
				.columns
					.column.is-one-fifth
						i.ion-android-restaurant
					.column
						p.title.has-text-weight-bold.is-size-4 Entree Number Four
						p.subtitle.has-text-weight-normal.is-size-6 Description of entree number four.