//- menu-entrees.pug
mixin menu-item(title, description)
		.column.is-half
			.columns
				.column.is-one-fifth
					i.ion-android-restaurant.is-size-5.is-pulled-right
				.column
					p.title.has-text-weight-bold.is-size-5= title
					p.subtitle.has-text-weight-normal.is-size-6= description

block entrees
	#tab-3.tab-content
		.columns
			.column
				h2 BURGERS &amp; SANDWICHES
		.columns
			+menu-item('Rebel Burger', 'House ground shortrib/chuck, gruyere cheese, fried green tomato, house pickles, fried shallots, butter lettuce, croissant bun.')
			+menu-item('Revolution Burger', 'House ground Sichuan pork, garlic mayo, ginger, ketchup, papaya salad, house pickles, brioche bun.')