//- menu-starters.pug

block starters
	#tab-1.tab-content.is-active
		.columns
			.column
				h2 SHARED PLATES
		.columns
			.column.is-half
				.columns
					.column.is-one-fifth
						i.ion-android-restaurant.is-size-5.is-pulled-right
					.column
						p.title.has-text-weight-bold.is-size-5 Seared Tuna
						p.subtitle.has-text-weight-normal.is-size-6 Blackened tuna, Shrimp crisp, cara cara orange, wasabi pea, daikon/carrot.
			.column.is-half
				.columns
					.column.is-one-fifth
						i.ion-android-restaurant.is-size-5.is-pulled-right
					.column
						p.title.has-text-weight-bold.is-size-5 Cod Fries
						p.subtitle.has-text-weight-normal.is-size-6 Fresh black cod, lemongrass aioli, fresh dill.
		.columns
			.column.is-half
					.columns
						.column.is-one-fifth
							i.ion-android-restaurant.is-size-5.is-pulled-right
						.column
							p.title.has-text-weight-bold.is-size-5 Naan Flatbread
							p.subtitle.has-text-weight-normal.is-size-6 House chorizo, fresh mozzarella, peppadew pepper, thai basil. Gluten free flatbread available.
			.column.is-half
					.columns
						.column.is-one-fifth
							i.ion-android-restaurant.is-size-5.is-pulled-right
						.column
							p.title.has-text-weight-bold.is-size-5 Caprese
							p.subtitle.has-text-weight-normal.is-size-6 Fresh mozzarella, crisped capicola, Thai basil, heirloom tomato, fig balsamic, toasted hazelnut oil, baguette or gluten free flatbread.
		.columns
			.column.is-half
					.columns
						.column.is-one-fifth
							i.ion-android-restaurant.is-size-5.is-pulled-right
						.column
							p.title.has-text-weight-bold.is-size-5 Cheeseburger Wontons
							p.subtitle.has-text-weight-normal.is-size-6 Ground short rib, gruyere cheese, house pickles,ginger ketchup.
			.column.is-half
					.columns
						.column.is-one-fifth
							i.ion-android-restaurant.is-size-5.is-pulled-right
						.column
							p.title.has-text-weight-bold.is-size-5 Charcuterie/Cheese board
							p.subtitle.has-text-weight-normal.is-size-6 House made elk sausage grilled pork/shrimp sausage, seasonal cheese, nuts, mustard, apricot butter, toasted bread, local honey.
		.columns
			.column.is-half
					.columns
						.column.is-one-fifth
							i.ion-android-restaurant.is-size-5.is-pulled-right
						.column
							p.title.has-text-weight-bold.is-size-5 Vietnamese Lettuce Wraps
							p.subtitle.has-text-weight-normal.is-size-6 Butter lettuce, country fried chicken, nouc Chamsauce, pickled daikon carrot, cilantro, chopped peanuts, fried rice noodles.
		.columns
			.column
				h2 SALADS
		.columns
			.column.is-half
					.columns
						.column.is-one-fifth
							i.ion-android-restaurant.is-size-5.is-pulled-right
						.column
							p.title.has-text-weight-bold.is-size-5 Shaved Papaya Salad
							p.subtitle.has-text-weight-normal.is-size-6 Roasted chicken, green papaya, cucumber, peppadew pepper, pickled daikon/carrot, 5 spice pecans, fried shallots, ginger honey vinaigrette.
			.column.is-half
					.columns
						.column.is-one-fifth
							i.ion-android-restaurant.is-size-5.is-pulled-right
						.column
							p.title.has-text-weight-bold.is-size-5 Caesar Salad
							p.subtitle.has-text-weight-normal.is-size-6 Fried shrimp (add $2) or roasted chicken, avocado, heirloom tomato, crispy parmesan chips, Caesar dressing.
		.columns
			.column.is-half
					.columns
						.column.is-one-fifth
							i.ion-android-restaurant.is-size-5.is-pulled-right
						.column
							p.title.has-text-weight-bold.is-size-5 House Salad
							p.subtitle.has-text-weight-normal.is-size-6 Mixed greens, tomato, cucumber, Vidalia onion. Ranch, blue cheese, ginger honey vinaigrette.