//- menu-entrees.pug

block entrees
	#tab-4.tab-content
		h1.has-text-centered Entrees
		.columns
			.column.is-half
				.columns
					.column.is-one-fifth
						i.ion-android-restaurant.is-size-3.is-pulled-right
					.column
						p.title.has-text-weight-bold.is-size-4 Old Fashioned
						p.subtitle.has-text-weight-normal.is-size-6 The classic cocktail, always a good call.
			.column.is-half
				.columns
					.column.is-one-fifth
						i.ion-android-restaurant.is-size-3.is-pulled-right
					.column
						p.title.has-text-weight-bold.is-size-4 Old Fashioned
						p.subtitle.has-text-weight-normal.is-size-6 The classic cocktail, always a good call.
		.columns
			.column.is-half
					.columns
						.column.is-one-fifth
							i.ion-android-restaurant.is-size-3.is-pulled-right
						.column
							p.title.has-text-weight-bold.is-size-4 Old Fashioned
							p.subtitle.has-text-weight-normal.is-size-6 The classic cocktail, always a good call.
			.column.is-half
					.columns
						.column.is-one-fifth
							i.ion-android-restaurant.is-size-3.is-pulled-right
						.column
							p.title.has-text-weight-bold.is-size-4 Old Fashioned
							p.subtitle.has-text-weight-normal.is-size-6 The classic cocktail, always a good call.