//- menu-desserts.pug
mixin dessert(title)
			.column.is-one-fifth
				i.ion-icecream.is-size-5.is-pulled-right
			.column
				p.title.has-text-weight-bold.is-size-5= title
				p.subtitle.has-text-weight-normal.is-size-6 Tattersall Orange Cream


block desserts
#tab-4.tab-content
	.columns
		.column
			h2 DESSERTS
	.columns
		.column.is-half
			+dessert('Honey pistachio cheesecake.')
	.columns
		.column.is-half
			+dessert('Honey pistachio cheesecake.')
	.columns
		.column.is-half
			+dessert('Honey pistachio cheesecake.')
	.columns
		.column.is-half
			+dessert('Honey pistachio cheesecake.')
