//- menu-desserts.pug
	div#desserts.tab-content
		.columns
			.column.is-half
				.columns
					.column.is-2
						i.ion-wineglass
					.column.is-10
						p.title.has-text-weight-bold.is-size-4 Old Fashioned
						p.subtitle.has-text-weight-normal.is-size-6 The classic cocktail, always a good call.