//- menu-starters.pug

block cocktails
	#tab-5.tab-content
		.columns
			.column
				h2 COCKTAILS
		.columns
			.column.is-half
				.columns
					.column.is-one-fifth
						i.ion-wineglass.is-size-5.is-pulled-right
					.column
						p.title.has-text-weight-bold.is-size-5 Tattersall Margarita
						p.subtitle.has-text-weight-normal.is-size-6 Tattersall Orange Cream (Minneapolis, MN), Raizul tequila, fresh squeezed Persian lime juice, simple syrup.
			.column.is-half
				.columns
					.column.is-one-fifth
						i.ion-wineglass.is-size-5.is-pulled-right
					.column
						p.title.has-text-weight-bold.is-size-5 Vike Old Fashioned
						p.subtitle.has-text-weight-normal.is-size-6 Vikre Honor Whiskey, (Duluth, MN), Riserva Carlo Alberto Rosso, Regans Orange, Filthy Cherry garnish.
		.columns
			.column.is-half
					.columns
						.column.is-one-fifth
							i.ion-wineglass.is-size-5.is-pulled-right
						.column
							p.title.has-text-weight-bold.is-size-5 Cucumber Melon Martini
							p.subtitle.has-text-weight-normal.is-size-6.is-capitalized Cucumber infused Kettle One, Vermouth, fresh Melon juice.
			.column.is-half
					.columns
						.column.is-one-fifth
							i.ion-wineglass.is-size-5.is-pulled-right
						.column
							p.title.has-text-weight-bold.is-size-5 Boiler Room Thai Mule
							p.subtitle.has-text-weight-normal.is-size-6.is-capitalized Boiler Room rum (St Paul, MN), Castle Brewery Ginger Beer (Prior Lake, MN), Fresh Lime Juice, lemongrass juice, Thai basil garnish.
		.columns
			.column.is-half
					.columns
						.column.is-one-fifth
							i.ion-wineglass.is-size-5.is-pulled-right
						.column
							p.title.has-text-weight-bold.is-size-5 Key Lime Tiki
							p.subtitle.has-text-weight-normal.is-size-6.is-capitalized Boiler Room Rum, Ke Ke Key Lime Liqueur, fresh squeezed lime juice, simple syrup.
			.column.is-half
					.columns
						.column.is-one-fifth
							i.ion-wineglass.is-size-5.is-pulled-right
						.column
							p.title.has-text-weight-bold.is-size-5 Far North French 75
							p.subtitle.has-text-weight-normal.is-size-6.is-capitalized Far North SYVA Vodka (Hallock, MN), sparkling Rose, Fresh Pomegranate juice, Simple syrup.
		.columns
			.column.is-half
					.columns
						.column.is-one-fifth
							i.ion-wineglass.is-size-5.is-pulled-right
						.column
							p.title.has-text-weight-bold.is-size-5 Rebel Mint Julep
							p.subtitle.has-text-weight-normal.is-size-6.is-capitalized Bulleit Bourbon, Fresh Apple Juice, Green Tea, Fresh Mint.
			.column.is-half
					.columns
						.column.is-one-fifth
							i.ion-wineglass.is-size-5.is-pulled-right
						.column
							p.title.has-text-weight-bold.is-size-5 Farmington Paloma
							p.subtitle.has-text-weight-normal.is-size-6.is-capitalized Casa Nobles Crystal Tequila, Grapefruit Soda, Fresh Lime Juice.