//- menu-starters.pug

block starters
	#tab-1.tab-content.is-active
		.columns
			.column
				h2 Shared Plates
		.columns
			.column.is-half
				.columns
					.column.is-one-fifth
						i.ion-android-restaurant.is-size-3.is-pulled-right
					.column
						p.title.has-text-weight-bold.is-size-4 Seared Tuna
						p.subtitle.has-text-weight-normal.is-size-6 Blackened tuna, Shrimp crisp, cara cara orange, wasabi pea, daikon/carrot.
			.column.is-half
				.columns
					.column.is-one-fifth
						i.ion-android-restaurant.is-size-3.is-pulled-right
					.column
						p.title.has-text-weight-bold.is-size-4 Cod Fries
						p.subtitle.has-text-weight-normal.is-size-6 Fresh black cod, lemongrass aioli, fresh dill.
		.columns
			.column.is-half
					.columns
						.column.is-one-fifth
							i.ion-android-restaurant.is-size-3.is-pulled-right
						.column
							p.title.has-text-weight-bold.is-size-4 Naan Flatbread
							p.subtitle.has-text-weight-normal.is-size-6 House chorizo, fresh mozzarella, peppadew pepper, thai basil. Gluten free flatbread available.
			.column.is-half
					.columns
						.column.is-one-fifth
							i.ion-android-restaurant.is-size-3.is-pulled-right
						.column
							p.title.has-text-weight-bold.is-size-4 Caprese
							p.subtitle.has-text-weight-normal.is-size-6 Fresh mozzarella, crisped capicola, Thai basil, heirloom tomato, fig balsamic, toasted hazelnut oil, baguette or gluten free flatbread.
		.columns
			.column.is-half
					.columns
						.column.is-one-fifth
							i.ion-android-restaurant.is-size-3.is-pulled-right
						.column
							p.title.has-text-weight-bold.is-size-4 Cheeseburger Wontons
							p.subtitle.has-text-weight-normal.is-size-6 Ground short rib, gruyere cheese, house pickles,ginger ketchup.
			.column.is-half
					.columns
						.column.is-one-fifth
							i.ion-android-restaurant.is-size-3.is-pulled-right
						.column
							p.title.has-text-weight-bold.is-size-4 Charcuterie/Cheese board
							p.subtitle.has-text-weight-normal.is-size-6 House made elk sausage grilled pork/shrimp sausage, seasonal cheese, nuts, mustard, apricot butter, toasted bread, local honey.
		.columns
			.column.is-half
					.columns
						.column.is-one-fifth
							i.ion-android-restaurant.is-size-3.is-pulled-right
						.column
							p.title.has-text-weight-bold.is-size-4 Vietnamese Lettuce Wraps
							p.subtitle.has-text-weight-normal.is-size-6 Butter lettuce, country fried chicken, nouc Chamsauce, pickled daikon carrot, cilantro, chopped peanuts, fried rice noodles.
			.column.is-half
