//- menu-entrees.pug
mixin menu-item(title, description)
		.column.is-half
			.columns
				.column.is-one-fifth
					i.ion-android-restaurant.is-size-5.is-pulled-right
				.column
					p.title.has-text-weight-bold.is-size-5= title
					p.subtitle.has-text-weight-normal.is-size-6= description

block entrees
	#tab-3.tab-content
		.columns
			.column
				h2 BURGERS
		.columns
			+menu-item('Rebel Burger', 'House ground shortrib/chuck, gruyere cheese, fried green tomato, house pickles, fried shallots, butter lettuce, croissant bun.')
			+menu-item('Revolution Burger', 'House ground Sichuan pork, garlic mayo, ginger, ketchup, papaya salad, house pickles, brioche bun.')
		.columns
			+menu-item('House Burger', 'House ground beef or pork patty. Any 5 toppings. Choice of bun.')
		.columns
			.column
				h2 SANDWICHES
		.columns
			+menu-item('Prime Rib', 'Aged prime rib, Toasted rosemary Italian bread, caramelized onion jam, provolone, parsley pesto.')
			+menu-item('Thai peanut chicken sandwich', 'Grilled or panko fried chicken, cilantro pesto, pickled cucumbers, daikon/carrot slaw.')
		.columns
			+menu-item('Bahn Mi BLT', 'Vietnamese bacon, toasted baguette, Fresno chili, fresh cilantro, daikon/carrot, heirloom tomato, mixed greens, sambol mayo.')
			+menu-item('Po Boy', 'Panko fried swai fish, Jamaican spiced aioli, shoestring plantain, kohlrabi slaw, mango chutney, bolillo roll.')
		.columns
			+menu-item('Porchetta', 'Pork belly, pork tenderloin, peppadew slaw, ciabatta bun, caramelized onion, spring greens, garlic aioli.')