//- navbar.pug
//- NAVIGATION LINKS: #s1 = "#menu" ---- #s2 = "#about" ----  #s3="#contact"

block navigation
	nav(class="navbar" role="navigation" aria-label="main navigation")
		.navbar-start
			.navbar-brand
				a.navbar-item
					img(class="nav-logo" src="../templates/_asset/images/brand/rc-navlogo-txtonly.png" alt="Rebel Chef")
			//- .navbar-end
				//- a(class="navbar-burger burger" data-target="#navMenu")
					//- i.ion-navicon
				//- div(class="navbar-menu" id="navMenu")
					//- a(class="navbar-item" href="#menu" id="#top") HOME
					//- a(class="navbar-item" href="#menu" id="#s1") MENU
					//- a(class="navbar-item" href="#about" id="#s2") ABOUT
					//- a(class="navbar-item" href="#contact" id="#s3") CONTACT