//- navbar.pug
//- NAVIGATION LINKS: #s1 = "#menu" ---- #s2 = "#about" ----  #s3="#contact"

block navigation
	nav(class="navbar" role="navigation" aria-label="main navigation")
		.navbar-brand
			img(src="/Users/taylorfedt/Documents/LocalServer/RebelChef/rebel-chef-static-v2/build/templates/_asset/images/brand/rc-navlogo-txtonly.png")
			a(role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false")
				i.ion-drag.is-size-3.pull-right
		.navbar-menu
			.columns
				.column
					a(href="#menu" id="#s1") MENU
				.column
					a(href="#about" id="#s2") ABOUT
				.column
						a(href="#contact" id="#s3") CONTACT