//- navbar.pug

block navigation
	nav(class="navbar" role="navigation" aria-label="main navigation")
		.navbar-brand
			a(class="navbar-item" href="http://www.rebelchefmn.com")
				img(src="_asset/images/brand/rc-navlogo-notxt.png" alt="Rebel Chef: The Food Revolution.")

	button.button.navbar-burger
		span
		span
		span
