//- Main page
extends _layout/layout.pug

block content
  // HERO
  include _layout/hero.pug
  // VALUES
  include _layout/values.pug
  // MISSION
  include _layout/mission.pug
  // MENU
  include _layout/menu.pug
  //- LOCATION
  //- include _layout/location.pug