//- Main page
extends _layout/layout.pug

//- This is here to display the colors and bring the style guide to life.
block content
	.section.is-medium.main
		.container
			.columns.is-centered
				.column.is-6
					h1.title.has-text-centered Rebel Chef Web Styles
					h3.subtitle.has-text-centered Going over the web styles and colors for the Rebel Chef page.
					p This is the testing ground for some of the styles I'm working on with <a href="http://www.bulma.io" alt="Bulma Homepage">Bulma.io</a>, so far it seems I like it better than Bootstrap 3 and 4. Here are some of the styles I've been working on. 
					p One of the first things I should note though, is the font choice. I'm using <em>Franklin Gothic URW</em> and <em>Franklin Gothic URW Condensed</em> via Adobe's Typekit. However, the body font (indeed this font) is called "Maven Pro" from GoogleFonts. I gotta say it's pretty bitchin'. 
	.section.is-medium.main
		.container
			a.button.is-primary PRIMARY BUTTON


