block content
	section.section.is-large
		.container
			.columns
				.column.bg-r1-comp
					h3.title.has-text-centered $R1
				.column.bg-r2-comp
					h3.title.has-text-centered $R2
				.column.bg-r3-comp
					h3.title.has-text-centered $R3
				.column.bg-r4-comp
					h3.title.has-text-centered $R4
				.column.bg-r5-comp
					h3.title.has-text-centered $R5
			.columns
				.column.bg-b1-comp
					h3.title.has-text-centered $B1
				.column.bg-b2-comp
					h3.title.has-text-centered $B2
				.column.bg-b3-comp
					h3.title.has-text-centered $B3
				.column.bg-b4-comp
					h3.title.has-text-centered $B4
			.columns
				.column.bg-p1-comp
					h3.title.has-text-centered $P1
				.column.bg-p2-comp
					h3.title.has-text-centered $P2
				.column.bg-p3-comp
					h3.title.has-text-centered $P3
				.column.bg-p4-comp
					h3.title.has-text-centered $P4
				.column.bg-p5-comp
					h3.title.has-text-centered $P5
			.columns
				.column.bg-g1-comp
					h3.title.has-text-centered $G1
				.column.bg-g2-comp
					h3.title.has-text-centered $G2
				.column.bg-g3-comp
					h3.title.has-text-centered $G3
				.column.bg-g4-comp
					h3.title.has-text-centered $G4
				.column.bg-g5-comp
					h3.title.has-text-centered $G5
				.column.bg-g6-comp
					h3.title.has-text-centered $G6

			.columns
				.column.bg-r1-invert
					h3.title.has-text-centered $R1
				.column.bg-r2-invert
					h3.title.has-text-centered $R2
				.column.bg-r3-invert
					h3.title.has-text-centered $R3
				.column.bg-r4-invert
					h3.title.has-text-centered $R4
				.column.bg-r5-invert
					h3.title.has-text-centered $R5
			.columns
				.column.bg-b1-invert
					h3.title.has-text-centered $B1
				.column.bg-b2-invert
					h3.title.has-text-centered $B2
				.column.bg-b3-invert
					h3.title.has-text-centered $B3
				.column.bg-b4-invert
					h3.title.has-text-centered $B4
			.columns
				.column.bg-p1-invert
					h3.title.has-text-centered $P1
				.column.bg-p2-invert
					h3.title.has-text-centered $P2
				.column.bg-p3-invert
					h3.title.has-text-centered $P3
				.column.bg-p4-invert
					h3.title.has-text-centered $P4
				.column.bg-p5-invert
					h3.title.has-text-centered $P5
			.columns
				.column.bg-g1-invert
					h3.title.has-text-centered $G1
				.column.bg-g2-invert
					h3.title.has-text-centered $G2
				.column.bg-g3-invert
					h3.title.has-text-centered $G3
				.column.bg-g4-invert
					h3.title.has-text-centered $G4
				.column.bg-g5-invert
					h3.title.has-text-centered $G5
				.column.bg-g6-invert
					h3.title.has-text-centered $G6
