doctype html
html(lang="en")
	head
	block head-admin
		title ADMIN DASHBOARD
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width initial-scale=1")
		meta(name="description" content="The admin dashboard for the Rebel Chef marketing campaigns and other ad pushes.")
		//- JAVASCRIPT
		script(src="../javascripts/vendor/jquery-3.3.1-min.js")
		//- FONT STYLESHEETS: ICONS/MAVEN/FRANKLIN
		link(rel="stylesheet" href="../stylesheets/vendor/ionicons-min.css")
		link(href="https://fonts.googleapis.com/css?family=Maven+Pro:400,700" rel="stylesheet")
		link(rel="stylesheet" href="https://use.typekit.net/wtl3nvt.css")
		//- ANIMATION STYLES/CAROUSEL/BULMA/CUSTOM STYLES
		link(rel="stylesheet" href="../bower_components/animate.css/animate.min.css")
		link(rel="stylesheet" href="../stylesheets/vendor/hover/hover.css")
		link(rel="stylesheet" href="../bower_components/bulma-carousel/dist/bulma-carousel.min.css")
		link(rel="stylesheet" href="../stylesheets/main.css")
body

	block admin
	.columns
		.column.bg-color-r1
			h1.tx-color-g6.has-text-centered REBEL CHEF ADMIN DASHBOARD
			h3.tx-color-r2.has-text-centered Managing Customer Retention Efforts and Current Advertising

	block admin-content
	section.section
		.container
			.columns
				.columns
				.notification.is-info
					button.delete
					This dashboard serves to look at our various efforts in data-mining, big data and custom retention efforts so we can more effectively make our ad dollars count.

	section.section
		.container
			.columns
				.column
				b.has-text-centered CURRENT CAMPAIGNS
			.columns
				.column
				button(type="button" class="btn btn-red" onclick="loadDoc()") EMAIL NEWSLETTER
	block ajax
		div(class=container id="crm-info")


	block ajax-script
	script.
				function loadDoc() {
				var xhttp = new XMLHttpRequest();
				xhttp.onreadystatechange = function() {
					if (this.readyState == 4 && this.status == 200) {
					document.getElementById("crm-info").innerHTML =
					this.responseText;
					}
				};
				xhttp.open("GET", "campaign-email.txt", true);
				xhttp.send();
				}


	block scripts
	script(type="text/javascript" src="../javascripts/vendor/zenscroll-min.js")
	script(type="text/javascript" src="../javascripts/scroll-min.js")
	script(type="text/javascript" src="../javascripts/tabs-min.js")
	script(type="text/javascript" src="../javascripts/menu.js")
	script(type="text/javascript" src="../javascripts/modal.js")