//- Each piece of main page will be defined in components
//- NAVIGATION LINKS: #s1 = "#menu" ---- #s2 = "#about" ----  #s3="#contact"

block hero
	section.section.hero
		.container
			.hero-body
				h1.bg-g6.txt-r1 REBEL CHEF
				h2.bg-g6.txt-g3 THE FOOD REVOLUTION
				h2.bg-g6.txt-g3 FARMINGTON, MN
			.columns
				.column
					a(id="scrollMenu" class="btn btn-red is-centered") MENU
				.column
					a(id="scrollMission" class="btn btn-purple is-centered") OUR MISSION
				.column
					a(id="scrollLocation" class=" btn btn-blue is-centered") LOCATION
