//- Each piece of main page will be defined in components
//- NAVIGATION LINKS: #s1 = "#menu" ---- #s2 = "#about" ----  #s3="#contact"

block hero
	section.section.hero
		.container
			.hero-body
				h1.bg-g6.txt-r1 REBEL CHEF
				h2.bg-g6.txt-g3 THE FOOD REVOLUTION
				h2.bg-g6.txt-g3 FARMINGTON, MN
			.hero-footer
				.columns
					.column
						a.btn.btn-red MENU
					.column
						a.btn.btn-purple OUR MISSION
					.column
						a.btn.btn-blue LOCATION
