//- layout-subscribe.pug
//- will extend location.pug as soon as AJAX is working.


block subscribe
	p Rebel Chef is opening soon. Can't wait? Neither can we! Want access and deals no one else can get? Subscribe to our mailing list for all the best experiences, like a VIP ticket to opening night.
	form(action="#")
		.columns
			.column
				input(type="text" name="first-name" placeholder="First Name" required)
		.columns
			.column
				input(type="email" name="email-address" placeholder="you@youremail.com" required)
		.columns
			.column
				input(type="submit" class="btn btn-red" value="SUBMIT")