//- MENU FILE
//- TO DO: The menu is going to be setup based on a JSON file with the dishes and their information.
//- TO DO: IF STATEMENT: The UI is going to be a slider/paginator

block menu
	section.is-medium.menu
		.container
			h3.title.has-text-weight-light.is-uppercase.has-text-centered Cocktails &amp; Beers
			p.subtitle.is-size-6.has-text-centered We worked with the best mixologists and the best local breweries to bring you something truly unique.
			.tabs.is-centered
				ul.menu-tabs
					li.is-active(data-tab="tab-1")
						a Drinks
					li(data-tab="tab-2") 
						a Appetizers
					li(data-tab="tab-3") 
						a Small Plates
					li(data-tab="tab-4") 
						a Entrees
					li(data-tab="tab-5") 
						a Desserts
	.section
		.container
			#tab-1.tab-content.is-active
				.columns
					.column.is-half
						i.ion-wineglass.is-size-3
						p.title.has-text-weight-bold.is-size-4 Old Fashioned
						p.subtitle.has-text-weight-normal.is-size-6 The classic cocktail, always a good call.
					.column.is-half
						i.ion-wineglass.is-size-3
						p.title.has-text-weight-bold.is-size-4 Old Fashioned
						p.subtitle.has-text-weight-normal.is-size-6 The classic cocktail, always a good call.
			#tab-2.tab-content
				.columns
					.column.is-half
						i.ion-flag.is-size-3
						p.title.has-text-weight-bold.is-size-4 Appetizer Number 1
						p.subtitle.has-text-weight-normal.is-size-6 The first appetizer, I don't know maybe some wings?
					.column.is-half
						i.ion-flag.is-size-3
						p.title.has-text-weight-bold.is-size-4 Appetizer Number 1
						p.subtitle.has-text-weight-normal.is-size-6 The first appetizer, I don't know maybe some wings?
				.columns
					.column.is-half
						i.ion-flag.is-size-3
						p.title.has-text-weight-bold.is-size-4 Appetizer Number 1
						p.subtitle.has-text-weight-normal.is-size-6 The first appetizer, I don't know maybe some wings?
					.column.is-half
						i.ion-flag.is-size-3
						p.title.has-text-weight-bold.is-size-4 Appetizer Number 1
						p.subtitle.has-text-weight-normal.is-size-6 The first appetizer, I don't know maybe some wings?
			#tab-3.tab-content
				.columns
					.column.is-half
						i.ion-fork.is-size-3
						p.title.has-text-weight-bold.is-size-4 Small Plate 1
						p.subtitle.has-text-weight-normal.is-size-6 A signature small plate offered by Rebel Chef.
					.column.is-half
						i.ion-fork.is-size-3
						p.title.has-text-weight-bold.is-size-4 Small Plate 2
						p.subtitle.has-text-weight-normal.is-size-6 A signature small plate offered by Rebel Chef.
			#tab-4.tab-content
				.columns
					.column.is-half
						i.ion-android-restaurant.is-size-3
						p.title.has-text-weight-bold.is-size-4 Entree Number One
						p.subtitle.has-text-weight-normal.is-size-6 Description of entree number one.
					.column.is-half
						i.ion-android-restaurant.is-size-3
						p.title.has-text-weight-bold.is-size-4 Entree Number Two
						p.subtitle.has-text-weight-normal.is-size-6 Description of entree number two.
			#tab-5.tab-content
				.columns
					.column.is-half
						i.ion-icecream.is-size-3
						p.title.has-text-weight-bold.is-size-4 Old Fashioned
						p.subtitle.has-text-weight-normal.is-size-6 The classic cocktail, always a good call.
					.column.is-half
						i.ion-icecream.is-size-3
						p.title.has-text-weight-bold.is-size-4 Old Fashioned
						p.subtitle.has-text-weight-normal.is-size-6 The classic cocktail, always a good call.