//- MENU FILE
//- TO DO: The menu is going to be setup based on a JSON file with the dishes and their information.
//- Created menu sections in the _components folder.
//- Menu has five sections: STARTERS, ENTREES, BURGERS & SANDWICHES, DESSERTS and COCKTAILS
//- STARTERS includes: Salads, Tapas, Shared Plates
//- ENTREES includes: Entrees, Shared Sides
//- BURGERS & SANDWICHES
//- DESSERTS

block menu
	section#s1.section.menu
		.container
			h3 THE REBEL CHEF MENU
			.tabs.is-centered
				ul.menu-tabs
					li(class="is-active" data-tab="tab-1")
						a Starters
					li(data-tab="tab-2")
						a Entrees
					li(data-tab="tab-3")
						a Burgers &amp; Sandwiches
					li(data-tab="tab-4")
						a Desserts
					li(data-tab="tab-5")
						a Cocktails
		.container
			block starters
			include ../_components/menu-starters.pug
			block entrees
			include ../_components/menu-entrees.pug
			block burgers-sandwiches
			include ../_components/menu-burgers-sandwiches.pug
			block desserts
			include ../_components/menu-desserts.pug