//- MENU FILE
//- TO DO: The menu is going to be setup based on a JSON file with the dishes and their information.
//- TO DO: IF STATEMENT: The UI is going to be a slider/paginator

block menu
	section#s1.section.menu
		.container
			h3 THE REBEL CHEF MENU
			.tabs.is-centered
				ul.menu-tabs
					li.is-active(data-tab="tab-1")
						a Drinks
					li(data-tab="tab-2") 
						a Appetizers
					li(data-tab="tab-3") 
						a Small Plates
					li(data-tab="tab-4") 
						a Entrees
					li(data-tab="tab-5") 
						a Desserts
		.container
			#tab-1.tab-content.is-active
				h1.has-text-centered Drinks
				.columns
					.column.is-half
						.columns
							.column.is-one-fifth
								i.ion-wineglass.is-size-3.is-pulled-right
							.column
								p.title.has-text-weight-bold.is-size-4 Old Fashioned
								p.subtitle.has-text-weight-normal.is-size-6 The classic cocktail, always a good call.
					.column.is-half
						.columns
							.column.is-one-fifth
								i.ion-wineglass.is-size-3.is-pulled-right
							.column
								p.title.has-text-weight-bold.is-size-4 Old Fashioned
								p.subtitle.has-text-weight-normal.is-size-6 The classic cocktail, always a good call.
				.columns
					.column.is-half
							.columns
								.column.is-one-fifth
									i.ion-wineglass.is-size-3.is-pulled-right
								.column
									p.title.has-text-weight-bold.is-size-4 Old Fashioned
									p.subtitle.has-text-weight-normal.is-size-6 The classic cocktail, always a good call.
					.column.is-half
							.columns
								.column.is-one-fifth
									i.ion-wineglass.is-size-3.is-pulled-right
								.column
									p.title.has-text-weight-bold.is-size-4 Old Fashioned
									p.subtitle.has-text-weight-normal.is-size-6 The classic cocktail, always a good call.
			#tab-2.tab-content
				h1.has-text-centered Appetizers
				.columns
					.column.is-half
						.columns
							.column.is-one-fifth
								i.ion-flag.is-size-3.is-pulled-right
							.column
								p.title.has-text-weight-bold.is-size-4 Old Fashioned
								p.subtitle.has-text-weight-normal.is-size-6 The classic cocktail, always a good call.
					.column.is-half
						.columns
							.column.is-one-fifth
								i.ion-flag.is-size-3.is-pulled-right
							.column
								p.title.has-text-weight-bold.is-size-4 Old Fashioned
								p.subtitle.has-text-weight-normal.is-size-6 The classic cocktail, always a good call.
				.columns
					.column.is-half
							.columns
								.column.is-one-fifth
									i.ion-flag.is-size-3.is-pulled-right
								.column
									p.title.has-text-weight-bold.is-size-4 Old Fashioned
									p.subtitle.has-text-weight-normal.is-size-6 The classic cocktail, always a good call.
					.column.is-half
							.columns
								.column.is-one-fifth
									i.ion-flag.is-size-3.is-pulled-right
								.column
									p.title.has-text-weight-bold.is-size-4 Old Fashioned
									p.subtitle.has-text-weight-normal.is-size-6 The classic cocktail, always a good call.
			#tab-3.tab-content
				h1.has-text-centered Small Plates
				.columns
					.column.is-half
						.columns
							.column.is-one-fifth
								i.ion-spoon.is-size-3.is-pulled-right
							.column
								p.title.has-text-weight-bold.is-size-4 Old Fashioned
								p.subtitle.has-text-weight-normal.is-size-6 The classic cocktail, always a good call.
					.column.is-half
						.columns
							.column.is-one-fifth
								i.ion-spoon.is-size-3.is-pulled-right
							.column
								p.title.has-text-weight-bold.is-size-4 Old Fashioned
								p.subtitle.has-text-weight-normal.is-size-6 The classic cocktail, always a good call.
				.columns
					.column.is-half
							.columns
								.column.is-one-fifth
									i.ion-spoon.is-size-3.is-pulled-right
								.column
									p.title.has-text-weight-bold.is-size-4 Old Fashioned
									p.subtitle.has-text-weight-normal.is-size-6 The classic cocktail, always a good call.
					.column.is-half
							.columns
								.column.is-one-fifth
									i.ion-spoon.is-size-3.is-pulled-right
								.column
									p.title.has-text-weight-bold.is-size-4 Old Fashioned
									p.subtitle.has-text-weight-normal.is-size-6 The classic cocktail, always a good call.
			#tab-4.tab-content
				h1.has-text-centered Entrees
				.columns
					.column.is-half
						.columns
							.column.is-one-fifth
								i.ion-android-restaurant.is-size-3.is-pulled-right
							.column
								p.title.has-text-weight-bold.is-size-4 Old Fashioned
								p.subtitle.has-text-weight-normal.is-size-6 The classic cocktail, always a good call.
					.column.is-half
						.columns
							.column.is-one-fifth
								i.ion-android-restaurant.is-size-3.is-pulled-right
							.column
								p.title.has-text-weight-bold.is-size-4 Old Fashioned
								p.subtitle.has-text-weight-normal.is-size-6 The classic cocktail, always a good call.
				.columns
					.column.is-half
							.columns
								.column.is-one-fifth
									i.ion-android-restaurant.is-size-3.is-pulled-right
								.column
									p.title.has-text-weight-bold.is-size-4 Old Fashioned
									p.subtitle.has-text-weight-normal.is-size-6 The classic cocktail, always a good call.
					.column.is-half
							.columns
								.column.is-one-fifth
									i.ion-android-restaurant.is-size-3.is-pulled-right
								.column
									p.title.has-text-weight-bold.is-size-4 Old Fashioned
									p.subtitle.has-text-weight-normal.is-size-6 The classic cocktail, always a good call.
			#tab-5.tab-content
				h1.has-text-centered Desserts
				.columns
					.column.is-half
						.columns
							.column.is-one-fifth
								i.ion-icecream.is-size-3.is-pulled-right
							.column
								p.title.has-text-weight-bold.is-size-4 Old Fashioned
								p.subtitle.has-text-weight-normal.is-size-6 The classic cocktail, always a good call.
					.column.is-half
						.columns
							.column.is-one-fifth
								i.ion-icecream.is-size-3.is-pulled-right
							.column
								p.title.has-text-weight-bold.is-size-4 Old Fashioned
								p.subtitle.has-text-weight-normal.is-size-6 The classic cocktail, always a good call.
				.columns
					.column.is-half
							.columns
								.column.is-one-fifth
									i.ion-icecream.is-size-3.is-pulled-right
								.column
									p.title.has-text-weight-bold.is-size-4 Old Fashioned
									p.subtitle.has-text-weight-normal.is-size-6 The classic cocktail, always a good call.
					.column.is-half
							.columns
								.column.is-one-fifth
									i.ion-icecream.is-size-3.is-pulled-right
								.column
									p.title.has-text-weight-bold.is-size-4 Old Fashioned
									p.subtitle.has-text-weight-normal.is-size-6 The classic cocktail, always a good call.