//- MENU FILE
//- TO DO: The menu is going to be setup based on a JSON file with the dishes and their information.
//- Created menu sections in the _components folder.

block menu
	section#s1.section.menu
		.container
			h3 THE REBEL CHEF MENU
			.tabs.is-centered
				ul.menu-tabs
					li.is-active(data-tab="tab-1")
						a Drinks
					li(data-tab="tab-2") 
						a Appetizers
					li(data-tab="tab-3") 
						a Small Plates
					li(data-tab="tab-4") 
						a Entrees
					li(data-tab="tab-5") 
						a Desserts
		.container
			block drinks
			include ../_components/menu-drinks.pug
			block appetizers
			include ../_components/menu-appetizers.pug
			block small-plates
			include ../_components/menu-small-plates.pug
			block entrees
			include ../_components/menu-entrees.pug
			block desserts
			include ../_components/menu-desserts.pug