//- Mission Statement: What Drives Us

block mission
	section#s2.section.mission
		.container
		.columns.is-centered
			.column.is-8
				h1.has-text-centered WHAT DRIVES US
				p.has-text-centered Let's face it, franchise establishments tend not to be where the most unique dishes are born. We locally source our ingredients, firmly believing in the mantra <em>you get out what you put in.</em>
				br
				p.has-text-centered We invite you to try what the Rebel Chef coined as <em>International Fast Fusion,</em> all your favorites from around the globe, fused with fresh, local and sustainable ingredients. We created something truly special for every palette in the Farmington, Minnesota area.
				br
		.columns.is-centered
			.column.is-3
				button.btn.btn-red OUR LOCATION
