//- Mission Statement: What Drives Us

block mission
  section.mission
    .container
      .columns.is-centered
        .column.is-8
          h1.has-text-centered WHAT DRIVES US
          p Let's face it, franchise establishments tend not to be where the most unique dishes are born. We locally source our ingredients, firmly believing in the mantra <em>you get out what you put in.</em>
          br
          p We invite you to try what the Rebel Chef coined as <em>International Fast Fusion,</em> all your favorites from around the globe, fused with fresh, local and sustainable ingredients. We created something truly special for the Farmington, Minnesota area.
          br
          .columns.is-centered
            .column
            .column
              a(class="button is-medium is-danger" href="#location")
                i.ion-location.is-size-3
                | &nbsp; OUR LOCATION
            .column