//- CORE VALUES SECTION

block values
  section.is-medium
    .container
      .columns.is-centered
        .column.is-one-third
          i.ion-android-globe.is-size-1
          h2.is-size-4.has-text-centered Global Inspiration
          p.has-text-centered Food inspired by dishes from around the globe.
        .column
          i.ion-android-sync.is-size-1
          h2.is-size-4.has-text-centered Waste Not, Want Not
          p.has-text-centered Committed to bettering our community and our future.
        .column
          i.ion-android-hangout.is-size-1
          h2.is-size-4.has-text-centered Only At Rebel Chef
          p.has-text-centered Follow us on social media to find out about special events and offers.
