//- CORE VALUES SECTION

block values
	section#s2.is-medium.values
		.columns.is-centered.is-gapless
			div(class="column global")
				p.has-text-centered 
					i.ion-android-globe.is-size-1
				h2.is-size-4.has-text-centered  GLOBALLY INSPIRED
				p.has-text-centered  Food inspired by dishes from around the globe.
			div(class="column community")
				p.has-text-centered 
					i.ion-android-sync.is-size-1
				h2.is-size-4.has-text-centered  LOCALLY SUSTAINABLE
				p.has-text-centered  We pledge to grow our community with our business.
			div(class="column social")
				p.has-text-centered 
					i.ion-android-hangout.is-size-1
				h2.is-size-4.has-text-centered  ONLY AT REBEL CHEF
				p.has-text-centered  Follow us on social media for special offers and news.
